{% extends "crs/layout.html" %}
{% load event_extras %}
{% block title %}Клиенты{% endblock %}
{% block content %}
<div class="page">
    <h1>Добро пожаловать!</h1>
    <p class="subtitle">Информация о клиентах</p>

    <div class="cards">
        {% for e in clients %}
        <div class="card">
            <div class="card-body">
    <p class="relation">{{ e.name }} <strong>{{ e.phone }}</strong></p>
</div>
        </div>
        {% empty %}
        <p class="empty">Событий пока нет.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}